@import "tailwindcss";

#root {
  margin: 0 auto;
}

/* .logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
} */

/* @media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
} */

/* .card {
  padding: 2em;
} */

.read-the-docs {
  color: #888;
}

@layer base {
    :root {
      --primary-color: #1976d2;
      --secondary-color: #dc004e;
      --background-color: #1e1e1e;
      --text-color: white;
      --font-family: 'Inter', sans-serif;
    }
  
    body {
      @apply bg-[var(--background-color)] text-[var(--text-color)] font-[var(--font-family)];
    }
  }